# Exemplo de configuração local para o cluster do Docker Desktop.
kube_context            = "docker-desktop"
namespace               = "fiapx"
rabbitmq_user           = "fiapx"
rabbitmq_password       = "fiapx123"
rabbitmq_vhost          = "fiapx"
jwt_secret              = "TROQUE-POR-UMA-CHAVE-FORTE-DE-32-CHARS-MINIMO"
postgres_password       = "postgres"
video_storage_host_path = "/data/fiapx-videos"
